# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]

# IDE and Editor
.vscode/
.idea/
*.swp
*.swo

# Database
*.db
*.sqlite3

# Logs and Output
logs/
*.log

*.pdf